:root {
  --black: #000000;
  --white: #FFFFFF;
  --grey-100: #F8F8FA;
  --grey-200: #C9C9C9;
  --grey-300: #999;
  --grey-400: #7A7A7A;
  --grey-500: #616161;
  --grey-600: #474747;
  --grey-700: #333;
  --grey-800: #212121;
  --grey-900: #131313;
  --orange-50: #FCEFE9;
  --orange-100: #F3C7B3;
  --orange-200: #EEAA8E;
  --orange-300: #E88E68;
  --orange-400: #E27242;
  --orange-500: #DB571F;
  --orange-600: #DB571F;
  --orange-700: #AE4619;
  --orange-800: #823312;
  --orange-900: #55220C;
  --olive-50: #F3F3F2;
  --olive-100: #E2E1DF;
  --olive-200: #C9C8C5;
  --olive-300: #B0AFAA;
  --olive-400: #89867F;
  --olive-500: #75726C;
  --olive-600: #615E55;
  --olive-700: #4F4B40;
  --olive-800: #3A362A;
  --olive-900: #2C2920;
  --blue-50: #ECF0F5;
  --blue-100: #ECF0F5;
  --blue-200: #CFDAE6;
  --blue-300: #ADC1D7;
  --blue-400: #CFDAE6;
  --blue-500: #628DBC;
  --blue-600: #4273A9;
  --egg-50: #F7F6EF;
  --egg-100: #EBE8D7;
  --egg-200: #DDD8BB;
  --egg-300: #CFC9A5;
  --egg-400: #BBB386;
  --system-positive: #0C8E00;
  --system-negative: #EE0000;
  --primary-50: var(--orange-50);
  --primary-100: var(--orange-100);
  --primary-200: var(--orange-200);
  --primary-300: var(--orange-300);
  --primary-400: var(--orange-400);
  --primary-500: var(--orange-500);
  --primary-600: var(--orange-600);
  --primary-700: var(--orange-700);
  --primary-800: var(--orange-800);
  --primary-900: var(--orange-900);
  --secondary-50: var(--olive-50);
  --secondary-100: var(--olive-100);
  --secondary-200: var(--olive-200);
  --secondary-300: var(--olive-300);
  --secondary-400: var(--olive-400);
  --secondary-500: var(--olive-500);
  --secondary-600: var(--olive-600);
  --secondary-700: var(--olive-700);
  --secondary-800: var(--olive-800);
  --secondary-900: var(--olive-900);
  --tertiary-50: var(--blue-50);
  --tertiary-100: var(--blue-100);
  --tertiary-200: var(--blue-200);
  --tertiary-300: var(--blue-300);
  --tertiary-400: var(--blue-400);
  --tertiary-500: var(--blue-500);
  --tertiary-600: var(--blue-600);
  --quarternary-50: var(--egg-50);
  --quarternary-100: var(--egg-100);
  --quarternary-200: var(--egg-200);
  --quarternary-300: var(--egg-300);
  --quarternary-400: var(--egg-400);
  --surface-primary: var(--quarternary-100);
  --surface-secondary: var(--quarternary-50);
  --surface-minimal: var(--quarternary-200);
  --surface-brand: var(--primary-500);
  --surface-brand-pressed: var(--primary-700);
  --surface-brand-secondary: var(--secondary-700);
  --surface-brand-secondary-pressed: var(--secondary-900);
  --surface-high-contrast: var(--secondary-900);
  --text-primary: var(--secondary-900);
  --text-secondary: var(--secondary-700);
  --text-midtone: var(--secondary-300);
  --text-invert: var(--quarternary-50);
  --text-branded: var(--primary-500);
  --text-midtone-2: var(--secondary-500);
  --icon-primary: var(--secondary-900);
  --icon-secondary: var(--secondary-700);
  --icon-midtone: var(--secondary-500);
  --icon-invert: var(--quarternary-50);
  --icon-branded: var(--primary-500);
  --icon-border: 1.5px;
  --app-width: calc(100vw - 80px);
  --container-width: calc(100% - 46px);
  --sidebar-width: calc(100% - 64px);
  --app-height: calc(100vh - 80px);
  --height-small: 32px;
  --height-medium: 40px;
  --height-large: 64px;
  --border-small: 12px;
  --border-medium: 16px;
  --border-large: 20px;
  --border-height-small: 32px;
  --border-height-medium: 40px;
  --border-height-large: 64px;
  --input-background: var(--surface-primary);
  --input-height: var(--border-height-large);
  --input-border: var(--border-border-large);
  --input-label: var(--text-secondary);
  --input-negative: var(--system-negative);
  --input-positive: var(--system-positive);
  --input-text: var(--text-primary);
  --button-primary-normal: var(--surface-brand);
  --button-primary-pressed: var(--surface-brand-pressed);
  --button-positive: var(--system-positive);
  --button-negative: var(--system-negative);
  --button-secondary: var(--surface-brand-secondary);
  --button-secondary-pressed: var(--surface-brand-secondary);
  --button-ghost-pressed: var(--surface-secondary);
  --button-ghost-text-normal: var(--text-secondary);
  --button-ghost-text-pressed: var(--text-primary);
  --button-text: var(--text-primary);
  --button-text-invert: var(--text-invert);
  --button-subtitle: var(--text-secondary);
  --button-height-small: var(--border-height-small);
  --button-height-medium: var(--border-height-medium);
  --button-height-large: var(--border-height-large);
  --button-border-small: var(--border-small);
  --button-border-medium: var(--border-medium);
  --button-border-large: var(--border-large);
  --button-primary-border: rgba(219, 87, 31, 0.2);
  --button-secondary-border: rgba(79, 75, 64, 0.2);
  --menu-primary-normal: var(--surface-secondary);
  --menu-primary-pressed: var(--surface-primary);
  --menu-icon-normal: var(--icon-invert);
  --menu-icon-selected: var(--icon-branded);
  --menu-text: var(--text-primary);
  --tab-primary-normal: var(--button-secondary-border);
  --tab-primary-pressed: var(--border-branded);
  --tab-icon-normal: var(--icon-primary);
  --tab-icon-selected: var(--surface-brand);
  --bubble-user-background: var(--surface-brand-secondary);
  --bubble-others-background: var(--surface-secondary);
  --bubble-others-original: var(--surface-minimal);
  --bubble-text-regular: var(--text-primary);
  --bubble-text-inverted: var(--text-invert);
}

html, body {
  font-size: 62.5%;
  font-family: Halcom;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  display: none;
}

html.modal-open, body.modal-open {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  padding: 0;
  font-family: Formiga;
}

p, ul, li {
  margin: 0;
  padding: 0;
  font-family: Halcom;
}

button, input, select, textarea {
  font-family: Halcom, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button > * {
  cursor: pointer;
}
button > ::deep svg {
  aspect-ratio: 1/1;
  width: 20px;
  height: 20px;
}
button:disabled {
  opacity: 0.5;
}
button.outlined-btn {
  background: none;
}
button.outlined-btn:active {
  border-color: transparent;
  background: white;
}
button.outlined-btn:disabled {
  background: none;
}
button.primary-btn {
  height: 40px;
  background: var(--button-primary-normal);
  color: var(--button-text-invert);
  font-weight: 400;
  line-height: 18px; /* 150% */
}
button.primary-btn:active {
  background: var(--button-primary-pressed);
}
button.primary-btn.outlined-btn {
  border-color: var(--button-primary-border);
  color: var(--button-primary-normal);
}
button.primary-btn.outlined-btn:disabled {
  color: var(--button-primary-normal);
}
button.secondary-btn {
  background: var(--button-secondary);
  color: var(--button-text-invert);
}
button.secondary-btn:active {
  background: var(--button-secondary-pressed);
}
button.secondary-btn.outlined-btn {
  border-color: rgba(79, 75, 64, 0.2);
  color: var(--button-ghost-text-normal);
}
button.secondary-btn.outlined-btn:active {
  border-color: transparent;
  color: var(--button-ghost-text-pressed);
}
button.secondary-btn.outlined-btn:disabled {
  color: var(--button-secondary);
}
button.icon-btn {
  aspect-ratio: 1/1;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid transparent;
  background: none;
  transition: 0.2s ease-in-out;
  /*&:active {
      svg {
          path {
              stroke: var(--tertiary-blue);
              fill: var(--tertiary-blue);
          }
      }
  }*/
}
button.icon-btn ::deep svg {
  width: 20px;
  height: 20px;
}
button.icon-btn:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 18, 65, 0.04), 0px 2px 6px 0px rgba(0, 18, 65, 0.04), 0px 0px 1px 0px rgba(0, 18, 65, 0.04);
}
button.text-btn {
  padding: 0;
  background: none;
  border: none;
  color: var(--text-primary);
  text-align: center;
  font-family: Halcom;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  transition: 0.2s ease-in-out;
}
button.text-btn:hover {
  color: var(--secondary-600);
}
button.large-btn {
  height: var(--button-height-large);
  padding: var(--button-border-large);
  border-radius: 20px;
}
button.medium-btm {
  height: var(--button-height-medium);
  padding: var(--button-border-medium);
  border-radius: 16px;
}
button.small-btn {
  height: var(--button-height-small);
  padding: var(--button-border-small);
  border-radius: 16px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin-left: 16px;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: var(--grey-100);
}

.hljs {
  background-color: transparent !important;
  font-weight: 600 !important;
}

.code-container {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--blue-700, #07374F);
}
.code-container code {
  color: var(--blue-50, #EFF7F9);
  font-family: "Courier New";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.code-container code.can-copy {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 24px;
  background: var(--blue-700, #07374F);
}

.code-text {
  color: var(--blue-50, #EFF7F9);
  leading-trim: both;
  text-edge: cap;
  font-family: "Courier New";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
