main {
  height: 100vh;
  padding-top: 80px;
  padding-bottom: 64px;
  background: var(--surface-secondary);
  overflow: hidden;
}
main .chat-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
  overflow-y: auto;
}
main .chat-list ::deep .chat-card {
  margin: 0 16px;
}
main .chats-search {
  display: none;
}
main .chats-search.show {
  display: flex;
  width: calc(100% - 32px);
  margin: 16px;
}
