main {
  width: 100%;
  height: 100vh;
  padding: 16px;
  padding-top: 96px;
  background: var(--surface-secondary);
}
main .chats-search {
  display: flex;
  height: var(--input-height, 64px);
  padding: 8px var(--button-border-large, 20px);
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: var(--button-border-large, 20px);
  background: var(--Input-background, #EBE8D7);
}
main .chats-search ::deep svg {
  width: 20px;
  height: 20px;
}
main .chats-search input {
  width: 100%;
  color: var(--input-text, #2C2920);
  leading-trim: both;
  text-edge: cap;
  /* Body/Regular/Medium */
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  border: none;
  background: none;
}
main form {
  margin: 16px 0;
}
main .friends-list header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
main .friends-list header h3 {
  color: var(--text-secondary, #4F4B40);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  /* Body/small/Medium */
  font-family: Halcom;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}
main .friends-list header span {
  color: var(--text-branded, #DB571F);
}
