@import "_variables.scss";

html, body {
    font-size: 62.5%;
    font-family: Halcom;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

html ::-webkit-scrollbar, body ::-webkit-scrollbar {
    display: none;
}

html.modal-open, body.modal-open {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
    padding: 0;
    font-family: Formiga;
}

p, ul, li {
    margin: 0;
    padding: 0;
    font-family: Halcom;
}

button, input, select, textarea {
    font-family: Halcom, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: Halcom;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    cursor: pointer;
    transition: .2s ease-in-out;

    > * {
        cursor: pointer;
    }

    > ::deep svg {
        aspect-ratio: 1/1;
        width: 20px;
        height: 20px;
    }

    &:disabled {
        opacity: 0.5;
    }

    &.outlined-btn {
        background: none;

        &:active {
            border-color: transparent;
            background: white;
        }

        &:disabled {
            background: none;
        }
    }

    &.primary-btn {
        height: 40px;
        background: var(--button-primary-normal);
        color: var(--button-text-invert);
        font-weight: 400;
        line-height: 18px; /* 150% */

        &:active {
            background: var(--button-primary-pressed);
        }

        &.outlined-btn {
            border-color: var(--button-primary-border);
            color: var(--button-primary-normal);

            &:disabled {
                color: var(--button-primary-normal)
            }
        }
    }

    &.secondary-btn {
        background: var(--button-secondary);
        color: var(--button-text-invert);

        &:active {
            background: var(--button-secondary-pressed);
        }

        &.outlined-btn {
            border-color: rgba(79, 75, 64, 0.20);
            color: var(--button-ghost-text-normal);

            &:active {
                border-color: transparent;
                color: var(--button-ghost-text-pressed);
            }

            &:disabled {
                color: var(--button-secondary);
            }
        }
    }

    &.icon-btn {
        aspect-ratio: 1/1;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 1px solid transparent;
        background: none;
        transition: .2s ease-in-out;

        ::deep svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            box-shadow: 0px 10px 20px 0px rgba(0, 18, 65, 0.04), 0px 2px 6px 0px rgba(0, 18, 65, 0.04), 0px 0px 1px 0px rgba(0, 18, 65, 0.04);
        }
        /*&:active {
            svg {
                path {
                    stroke: var(--tertiary-blue);
                    fill: var(--tertiary-blue);
                }
            }
        }*/
    }

    &.text-btn {
        padding: 0;
        background: none;
        border: none;
        color: var(--text-primary);
        text-align: center;
        font-family: Halcom;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        transition: .2s ease-in-out;

        &:hover {
            color: var(--secondary-600);
        }
    }

    &.large-btn {
        height: var(--button-height-large);
        padding: var(--button-border-large);
        border-radius: 20px;
    }

    &.medium-btm {
        height: var(--button-height-medium);
        padding: var(--button-border-medium);
        border-radius: 16px;
    }

    &.small-btn {
        height: var(--button-height-small);
        padding: var(--button-border-small);
        border-radius: 16px;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin-left: 16px;
    }
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background: var(--grey-100);
}

.hljs {
    background-color: transparent !important;
    font-weight: 600 !important;
}

.code-container {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--blue-700, #07374F);

    code {
        color: var(--blue-50, #EFF7F9);
        font-family: "Courier New";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.can-copy {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            background: var(--blue-700, #07374F);
        }
    }
}

.code-text {
    color: var(--blue-50, #EFF7F9);
    leading-trim: both;
    text-edge: cap;
    font-family: "Courier New";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}