@if (Page == "New Chat")
{
    <div class="friend-card new-chat">
        <div class="left">
            <div class="profile-img"></div>
            <div class="friend-info">
                <h4>@Friend</h4>
                <p>Short Status Message</p>
            </div>
        </div>
        <div class="right">
            @if (IsSelected)
            {
                <button class="icon-btn deselect-btn" @onclick=ToggleFriend><CloseIcon /></button>
            } else
            {
                <div class="checkbox-container">
                    <input type="checkbox" @onclick=ToggleFriend checked=@IsSelected />
                </div>
            }
        </div>
    </div>
} else
{
    <div class="friend-card">
        <div class="left">
            <div class="profile-img"></div>
            <div class="friend-info">
                <h4>@Friend</h4>
                <p>Short Status Message</p>
            </div>
        </div>
        <div class="right">
            <button class="icon-btn deselect-btn" @onclick=ToggleFriend><CloseIcon /></button>
        </div>
    </div>
}

@code {
    [Parameter] public string Friend { get; set; }
    [Parameter] public string Page { get; set; }
    [Parameter] public bool IsSelected { get; set; } = false;
    [Parameter] public EventCallback<string> OnSelect { get; set; }
    [Parameter] public EventCallback<string> OnDeselect { get; set; }

    void ToggleFriend()
    {
        IsSelected = !IsSelected;
        if (IsSelected)
        {
            OnSelect.InvokeAsync(Friend);
        } else
        {
            OnDeselect.InvokeAsync(Friend);
        }
    }
}