<div class="friend-card">
    <div class="left">
        <div class="profile-img"></div>
        <div class="friend-info">
            <h4>Friend's Name'</h4>
            <p>Short Status Message</p>
        </div>
    </div>
    <div class="right">
        <button class="icon-btn"><CloseIcon /></button>
    </div>
</div>

@code {

}
