@* <div class="message-card">
    <p>
        <MessageBubbleTail IsMine=@(Message.Sender == User ? true : false) />
        @Message.Text
    </p>
    <aside>@Message.Timestamp.ToShortTimeString()</aside>
</div>

@code {
    [CascadingParameter] User? User { get; set; }
    [Parameter] public Message Message { get; set; }

    // need logic for handling long strings
} *@

<div class="message-card">
    <p>
        <MessageBubbleTail IsMine=IsMine />
        @Message.Text
    </p>
    <aside>@Message.Timestamp.ToLocalTime().ToString("HH:mm")</aside>
</div>

@code {
    [Parameter] public required TextMessage Message { get; set; }
    [Parameter] public bool IsMine { get; set; }
}