<footer class="bottom-bar">
    <NavLink class="nav-link friends-btn" href="/friends" ActiveClass="active" Match="NavLinkMatch.All">
        <FriendsIcon Color="var(--egg-50)" />
        <span>Friends</span>
    </NavLink>

    <NavLink class="nav-link chats-btn" href="/chats" ActiveClass="active" Match="NavLinkMatch.Prefix">
        <ChatsIcon Color="var(--egg-50)" />
        <span>Chats</span>
    </NavLink>
    <NavLink class="nav-link settings-btn" href="/settings" ActiveClass="active" Match="NavLinkMatch.All">
        <MoreSettingsIcon Color="var(--egg-50)" />
        <span>More</span>
    </NavLink>
</footer>