@inherits LayoutComponentBase

<div class="layout-container">
    <nav>
        <SparcAura>
            <Presence Avatar="context" />
        </SparcAura>
    </nav>

    <main>
        <article id="main-content" class="main-content show">
            @Body
        </article>
    </main>
</div>

@code {
}