.chat-bar {
    width: 100%;
    height: 58px;
    padding: 8px 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background: var(--surface-secondary);
    border-radius: 24px 24px 0 0;
    box-shadow: 0 -10px 20px 0 rgba(0, 18, 65, 0.04), 0 -2px 6px 0 rgba(0, 18, 65, 0.04), 0 0 1px 0 rgba(0, 18, 65, 0.04);

    form {
        width: 100%;
        border-radius: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        .chat-input {
            width: 100%;
            padding: 13px 16px;
            border-radius: 16px;
            background: var(--input-background);
        }

        #chat-textarea {
            width: 100%;
            //max-width: calc(100vw - 104px);
            max-height: 110px;
            overflow-y: auto;
            border: transparent;
            background: none;
            color: var(--input-label);
            font-family: Halcom;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6rem; /* 123.077% */
            resize: none;
            text-wrap: wrap;
            word-wrap: break-word;
            hyphens: auto; // copy and paste maintains original formatting without hyphens

            &:empty:not(:focus):before {
                content: attr(data-text);
                color: var(--input-label);
            }
        }
    }

    .left-btns, .right-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }

    button {
        width: 32px;
        height: 32px;
        aspect-ratio: 1/1;
        padding: 0;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        ::deep svg {
            width: 18px;
            height: auto;
        }

        &.send-btn {
            background: var(--button-primary-normal);

            ::deep svg {
                path {
                    stroke: var(--icon-invert)
                }
            }

            &:hover {
                box-shadow: 0 0 7px 0 #DB571F;
            }

            &:active {
                box-shadow: none;
            }

            &:disabled {
                opacity: 0.5;
            }
        }

        &.STT-btn, &.textinput-btn {
            &.active {
                background: var(--button-primary-normal);
                box-shadow: 0 0 7px 0 #DB571F;
            }
        }
    }

    .live-container {
        width: 83px;
        height: 83px;
        aspect-ratio: 1/1;
        //background: var(--surface-secondary);
        //border-radius: 100px 100px 0 0;
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .live-background {
            width: 83px;
            height: auto;
            position: absolute;
            top: 2px;
            left: 0;
            z-index: 10;
        }

        .live-indicator {
            width: 64px;
            height: 64px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border-radius: 50%;
            border: 1px solid var(--button-primary-border, rgba(219, 87, 31, 0.20));
            z-index: 20;

            ::deep svg {
                width: 24px;
                height: 24px;
            }

            &.recording {
                background: var(--button-primary-normal);
                box-shadow: 0 0 7px 0 #DB571F;
            }

            &.disabled {
                opacity: 0.5;
            }
        }
    }
}
