.message-card {
  position: relative;
}
.message-card p ::deep .bubble-tail {
  width: 8px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: -8px;
}
.message-card p ::deep .bubble-tail-mine {
  width: 8px;
  height: 21px;
  position: absolute;
  top: 0px;
  right: -8px;
}
