.message-card {
  position: relative;
}
.message-card .message-bubble ::deep .bubble-tail {
  width: 8px;
  height: 21px;
  position: absolute;
  top: 0px;
  left: -8px;
}
.message-card .message-bubble ::deep .bubble-tail-mine {
  width: 8px;
  height: 21px;
  position: absolute;
  top: 0px;
  right: -8px;
}
.message-card .options-btn {
  display: none;
  width: 40px;
  height: var(--button-height-medium, 40px);
  justify-content: center;
  align-items: center;
  border-radius: var(--button-border-medium, 16px);
  background: var(--button-secondary, #4F4B40);
  opacity: 0.6;
}
.message-card .options-btn ::deep svg path {
  fill: var(--button-text-invert);
}
.message-card .options-btn:active {
  opacity: 1;
}
