.edit-contact {
    position: relative;
    height: 100%;

    header {
        text-align: left;
    }

    .progress-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        button {
            display: flex;
            justify-content: center;
            width: 120px;
            height: 34px;
            padding: 8px 16px;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 150%;

            &.back-btn {
                border: 1px solid transparent;
                color: var(--grey-400);
                transition: 0.2s ease-in-out;

                &:hover {
                    filter: brightness(95%);
                }

                &:active {
                    filter: brightness(90%);
                }
            }
        }
    }

    form {
        width: 100%;
        max-width: 468px;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        gap: 16px;

        label {
            span {
                color: var(--grey-300, #999);
                font-family: Poppins;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.4rem; /* 140% */
            }
        }

        aside {
            color: var(--grey-300, #999);
            font-family: Poppins;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.4rem; /* 140% */
        }

        input, select, option {
            height: 40px;
            padding: 0 16px;
            border-radius: 8px;
            border: 1px solid transparent;
            background: var(--grey-100, #F8F8FA);
            color: var(--grey-900, #131313);
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem; /* 142.857% */
        }

        select, option {
            width: 121px;
        }

        .contact-group {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .name {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 8px;

            input {
                width: calc(100% - 32px);
            }
        }

        .email, .phone {
            width: 100%;

            .contact-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 8px;
            }

            input {
                width: calc(100% - 121px);
            }
        }

        button {
            margin: 0;
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 8px;
            color: var(--tertiary-blue, #1573FE);
            font-family: Poppins;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem; /* 142.857% */
            transition: 0.2s ease-in-out;

            ::deep svg {
                width: 16px;
                height: 16px;
                margin-top: -1px;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                color: var(--primary-600);

                ::deep svg {
                    path {
                        stroke: var(--secondary-600);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1080px) {
        height: calc(var(--container-height) - 36px);
    }
}