main {
    width: 100vw;
    height: 100vh;
    padding: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface-primary);

    ::deep svg {
        width: 100%;
        height: auto;
    }
}