main {
  height: 100vh;
  padding: 0 32px;
  padding-top: 80px;
  padding-bottom: 96px;
  background: var(--surface-secondary);
}
main.no-footer {
  padding-bottom: 32px;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  height: 80px;
  width: 100%;
  margin-bottom: 32px;
}
.tabs-container li {
  width: 33.33%;
}
.tabs-container button {
  display: flex;
  height: 80px;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  background: none;
  border-radius: var(--button-border-large, 20px);
  border: 1px solid var(--tab-primary-normal, rgba(79, 75, 64, 0.2));
  color: var(--tab-icon-normal, #2C2920);
  leading-trim: both;
  text-edge: cap;
  /* Body/Regular/Medium */
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
.tabs-container button.active {
  border: 1px solid var(--tab-primary-pressed, #DB571F);
}
.tabs-container button.active span {
  color: var(--text-branded);
}

.form-container {
  height: calc(100% - 112px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}
form label span {
  padding-left: 16px;
  color: var(--Input-label, #4F4B40);
  leading-trim: both;
  text-edge: cap;
  /* Body/small/Medium */
  font-family: Halcom;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}
form label input {
  display: flex;
  height: var(--input-height, 64px);
  padding: 8px var(--button-border-large, 20px);
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border: 1px solid transparent;
  border-radius: var(--button-border-large, 20px);
  background: var(--input-background, #EBE8D7);
  color: var(--input-text, #2C2920);
  leading-trim: both;
  text-edge: cap;
  /* Body/Regular/Medium */
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  opacity: 0.7;
}
form label select {
  display: flex;
  height: var(--input-height, 64px);
  padding: 8px var(--button-border-large, 20px);
  align-items: center;
  gap: 12px;
  align-self: stretch;
  background: none;
  leading-trim: both;
  text-edge: cap;
  border-radius: var(--button-border-large, 20px);
  border: 1px solid var(--button-secondary-border, rgba(79, 75, 64, 0.2)); /* Body/Regular/Medium */
  color: var(--input-text, #2C2920);
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  opacity: 0.7;
}
form label select option {
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  opacity: 0.7;
}
form.code-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
form.code-form h3 {
  color: var(--input-label, #4F4B40);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  /* Body/small/Medium */
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}
form.code-form p {
  padding: 16px;
  color: var(--input-text, #2C2920);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  /* Body/Regular/Medium */
  font-family: Halcom;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.qr-code {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.qr-code img {
  width: 240px;
  height: auto;
  aspect-ratio: 1/1;
}
.qr-code aside {
  display: flex;
  width: 80%;
  padding: 18px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--surface-brand, #DB571F);
  color: var(--text-invert, #F7F6EF);
  leading-trim: both;
  text-edge: cap;
  /* Body/small/Medium */
  font-family: Halcom;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
  position: relative;
}
.qr-code aside svg {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
