.friend-card {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    border-radius: var(--button-border-large, 20px);
    border: 0 solid #EEE;
    background: var(--menu-primary-normal, #F7F6EF);

    .profile-img {
        width: 48px;
        height: 48px;
        border-radius: 20px;
        background: var(--surface-minimal);
    }

    .left {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 16px;

        .friend-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 8px;

            h4 {
                font-family: Halcom;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 19.2px */
            }

            p {
                color: var(--button-subtitle, #4F4B40);
                leading-trim: both;
                text-edge: cap;
                /* Body/small/Regular */
                font-family: Halcom;
                font-size: 1.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 16.8px */
                letter-spacing: -0.14px;
            }
        }
    }

    .icon-btn {
        display: flex;
        height: var(--button-height-small, 32px);
        padding: 16px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: var(--button-border-small, 12px);
        border: 1px solid var(--button-secondary, #4F4B40);
    }

    &.new-chat {
        width: 100%;
        display: flex;
        padding: 16px;

        h3 {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 16px;

            span {
                color: var(--text-branded);
            }
        }

        .left {
            .friend-info {
                gap: 4px;
            }
        }

        .right {
            .select-btn {
                width: 32px;
                height: 32px;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--surface-minimal);
                border: none;
                border-radius: 12px;

                &.selected {
                    background: var(--surface-brand);

                    ::deep svg path {
                        stroke: var(--icon-invert);
                    }
                }
            }

            .deselect-btn {
                aspect-ratio: 1/1;
                height: var(--button-height-small, 32px);
                padding: 0;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: var(--button-border-small, 12px);
                border: 1px solid var(--button-secondary, #4F4B40);

                ::deep svg {
                    width: 18px;
                    height: 18px;

                    path {
                        stroke: var(--secondary-900);
                    }
                }
            }
        }
    }

    &.selected {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        .friend-avatar {
            position: relative;

            button {
                width: 14px;
                height: 14px;
                aspect-ratio: 1/1;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: -6px;
                transform: translateY(-50%);
                border-radius: var(--button-border-small, 12px);
                border: 1.5px solid var(--button-secondary, #4F4B40);
                background: var(--surface-secondary, #F7F6EF);
            }

            ::deep svg {
                path {
                    stroke: var(--icon-primary, #FFFFFF);
                }
            }
        }
    }
}
